// Define variables for your color scheme

$red: #75182A;
$blue: #759FBC;
$yellow: #FFF1C5;
$orange: #EF7E56;
$green: #22FF86;
$gray: #282827;
$light-gray: #F4F4F4;
$black: rgba(0,0,0,0.87);
$black-light: rgba(0,0,0,0.65);
