<div class="ingredients-wrapper">
  <h1>&bull; MAGICAL INGREDIENTS &bull;</h1>
  <div class="underline"></div>
  <div class="title"></div>
  <%= image_tag "tube.svg", height: 65, class: "ingredient-icon" %>
  <div class="row">
    <% @ingredients.each do |ingredient| %>
      <div class="col-sm-4 col-md-3">
        <%= ingredient.name %>
      </div>
    <% end %>
  </div>
</div>
